name: eShopOnWeb Build and Test

on:
  push:
    branches: [main]
  workflow_dispatch:

env:
  RESOURCE_GROUP: 'rg-eshoponweb-jt'
  LOCATION: 'eastus2'
  TEMPLATE_FILE: '${{ github.workspace }}/infra/webapp.bicep'
  SUBSCRIPTION_ID: '2f1a5da3-2833-4893-af83-cfce8c59272e'
  WEBAPP_NAME: 'eshoponweb-jt'

jobs:
  buildandtest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'
          dotnet-quality: 'ga'

      - name: Restore dependencies
        run: dotnet restore ./src/Web/Web.csproj

      - name: Build
        run: dotnet build ./src/Web/Web.csproj --no-restore --configuration Release

      - name: Test
        run: dotnet test ./tests/UnitTests/UnitTests.csproj --no-build --verbosity normal --configuration Release

      - name: Publish
        run: dotnet publish ./src/Web/Web.csproj --no-build --configuration Release --output ./publish

      - name: Upload artifact for deployment
        uses: actions/upload-artifact@v4
        with:
          name: .net-app
          path: ./publish

      - name: List files for debugging
        run: ls -R

  deploy:
    runs-on: ubuntu-latest
    needs: buildandtest
    environment:
      name: 'Development'
      url: ${{ steps.deploy-to-webapp.outputs.webapp-url }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: .net-app
          path: ./publish

      - name: Azure Login
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Deploy Azure resources
        uses: azure/arm-deploy@v2
        id: deploy-infra
        with:
          subscriptionId: ${{ env.SUBSCRIPTION_ID }}
          resourceGroupName: ${{ env.RESOURCE_GROUP }}
          template: ${{ env.TEMPLATE_FILE }}
          parameters: webAppName=${{ env.WEBAPP_NAME }} location=${{ env.LOCATION }}
          failOnStdErr: false

      - name: Deploy to Azure Web App
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v3
        with:
          app-name: ${{ env.WEBAPP_NAME }}
          package: ./publish

      - name: Azure Logout
        run: az logout
